In [1]:
import pandas as pd
import numpy as np

In [2]:
# This dataset is not included in github and can be found here: 
# https://www.kaggle.com/datasets/fabioturazzi/cryptocurrency-tweets-with-sentiment-analysis
tweets = pd.read_csv("tweets_sentiment.csv")

/Users/davidhackett/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3165: DtypeWarning: Columns (10) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [7]:
tweets.dtypes

Unnamed: 0           int64
id                 float64
conversation_id    float64
created_at          object
date                object
time                object
timezone             int64
user_id            float64
username            object
name                object
place               object
tweet               object
language            object
mentions            object
urls                object
photos              object
replies_count        int64
retweets_count       int64
likes_count          int64
hashtags            object
cashtags            object
link                object
retweet               bool
quote_url           object
video                int64
thumbnail           object
near               float64
geo                float64
source             float64
user_rt_id         float64
user_rt            float64
retweet_id         float64
reply_to            object
retweet_date       float64
translate          float64
trans_src          float64
trans_dest         float64
search              object
decoded_tweet       object
neg                float64
neu                float64
pos                float64
compound           float64
dtype: object

In [8]:
# eliminate unnecessary fields
tweets_filtered = tweets[['date', 'mentions', 'replies_count', 'retweets_count', 'likes_count', \
                          'hashtags', 'cashtags', 'neg', 'neu', 'pos', 'compound']]

In [9]:
tweets_filtered.sample(10)

,date,mentions,replies_count,retweets_count,likes_count,hashtags,cashtags,neg,neu,pos,compound
154540,2021-01-14,[],1,1,33,[],[],0.000,0.887,0.113,0.5106
679661,2019-08-27,"[{'screen_name': 'molochdao', 'name': 'ðŸ‘¹ moloc...",1,5,17,['ethereum'],[],0.000,0.905,0.095,0.5267
576752,2020-08-27,[],2,0,25,[],[],0.085,0.915,0.000,-0.3400
16285,2017-12-08,[],6,39,38,[],[],0.060,0.940,0.000,-0.1511
780243,2018-10-10,[],4,11,37,"['dapsfam', 'daps', 'bitcoin', 'bit', 'cryptoc...","['daps', 'btc', 'eth', 'xtl', 'xhv', 'vet', 'h...",0.000,1.000,0.000,0.0000
806013,2020-03-01,[],2,1,13,"['xrp', 'xrpthestandard']",[],0.000,0.724,0.276,0.9353
79671,2018-10-18,[],5,25,111,[],[],0.178,0.735,0.087,-0.7461
160052,2021-02-08,[],2,10,110,[],[],0.000,1.000,0.000,0.0000
155574,2021-01-20,"[{'screen_name': 'farm_tron', 'name': 'tronfar...",22,28,56,"['defi', 'tron', 'trx', 'yieldfarming', 'passi...",['trx'],0.000,0.874,0.126,0.5574
487155,2019-03-29,[],3,0,18,[],['btc'],0.000,0.816,0.184,0.8176

In [10]:
len(tweets_filtered)

824908

In [11]:
bitcoin_tweets = tweets_filtered[tweets_filtered["hashtags"].str.contains("bitcoin|btc", regex=True)]

In [12]:
len(bitcoin_tweets)

294562

In [13]:
bitcoin_tweets.head()

,date,mentions,replies_count,retweets_count,likes_count,hashtags,cashtags,neg,neu,pos,compound
2,2013-04-14,[],15,153,61,['bitcoin'],[],0.000,1.000,0.000,0.0000
24,2014-01-02,"[{'screen_name': 'kanyewest', 'name': 'ye', 'i...",12,76,44,['bitcoin'],[],0.000,1.000,0.000,0.0000
59,2014-02-05,"[{'screen_name': 'brianeha', 'name': 'brian pa...",4,38,24,['bitcoin'],[],0.000,1.000,0.000,0.0000
66,2014-02-15,[],2,26,23,"['dogecoin', 'bitcoin']",[],0.121,0.879,0.000,-0.2960
75,2014-02-25,"[{'screen_name': 'fart', 'name': 'food truck d...",5,34,38,"['bitcoin', 'cryptocurrency']",[],0.176,0.707,0.116,-0.2942

In [14]:
bitcoin_tweets["compound_times_retweets"] = bitcoin_tweets["compound"] * bitcoin_tweets["retweets_count"]
bitcoin_tweets["pos_times_retweets"] = bitcoin_tweets["pos"] * bitcoin_tweets["retweets_count"]
bitcoin_tweets["neg_times_retweets"] = bitcoin_tweets["neg"] * bitcoin_tweets["retweets_count"]

<ipython-input-14-9120c355358a>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  bitcoin_tweets["compound_times_retweets"] = bitcoin_tweets["compound"] * bitcoin_tweets["retweets_count"]
<ipython-input-14-9120c355358a>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  bitcoin_tweets["pos_times_retweets"] = bitcoin_tweets["pos"] * bitcoin_tweets["retweets_count"]
<ipython-input-14-9120c355358a>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  bitcoin_tweets["neg_times_retweets"] = bitcoin_tweets["neg"] * bitcoin_tweets["retweets_count"]

In [15]:
bitcoin_tweets.head()

,date,mentions,replies_count,retweets_count,likes_count,hashtags,cashtags,neg,neu,pos,compound,compound_times_retweets,pos_times_retweets,neg_times_retweets
2,2013-04-14,[],15,153,61,['bitcoin'],[],0.000,1.000,0.000,0.0000,0.0000,0.000,0.000
24,2014-01-02,"[{'screen_name': 'kanyewest', 'name': 'ye', 'i...",12,76,44,['bitcoin'],[],0.000,1.000,0.000,0.0000,0.0000,0.000,0.000
59,2014-02-05,"[{'screen_name': 'brianeha', 'name': 'brian pa...",4,38,24,['bitcoin'],[],0.000,1.000,0.000,0.0000,0.0000,0.000,0.000
66,2014-02-15,[],2,26,23,"['dogecoin', 'bitcoin']",[],0.121,0.879,0.000,-0.2960,-7.6960,0.000,3.146
75,2014-02-25,"[{'screen_name': 'fart', 'name': 'food truck d...",5,34,38,"['bitcoin', 'cryptocurrency']",[],0.176,0.707,0.116,-0.2942,-10.0028,3.944,5.984

In [16]:
bitcoin_pivot = bitcoin_tweets.pivot_table(index="date", \
                                           values=["cashtags", "replies_count", "retweets_count",\
                                                   "likes_count", "neg", "neu", "pos", "compound", \
                                                  "compound_times_retweets","pos_times_retweets", \
                                                   "neg_times_retweets"],
                                          aggfunc={"cashtags" : "count", "replies_count" : np.sum,\
                                                   "retweets_count": np.sum, "likes_count": np.sum,\
                                                   "neg": np.mean, "neu": np.mean, "pos": np.mean,\
                                                   "compound": np.mean,  "compound_times_retweets": np.sum,\
                                                   "pos_times_retweets": np.sum, "neg_times_retweets": np.sum})

In [17]:
bitcoin_pivot.rename(columns={'cashtags': "count"}, inplace=True)
bitcoin_pivot["pos_weighted"] = bitcoin_pivot["pos_times_retweets"] / bitcoin_pivot['retweets_count']
bitcoin_pivot["neg_weighted"] = bitcoin_pivot["neg_times_retweets"] / bitcoin_pivot['retweets_count']
bitcoin_pivot["compound_weighted"] = bitcoin_pivot["compound_times_retweets"] / bitcoin_pivot['retweets_count']

In [18]:
bitcoin_pivot.sample(10)

,count,compound,compound_times_retweets,likes_count,neg,neg_times_retweets,neu,pos,pos_times_retweets,replies_count,retweets_count,pos_weighted,neg_weighted,compound_weighted
date,,,,,,,,,,,,,,
2014-04-07,4,0.199175,15.6385,80,0.019500,2.028,0.894750,0.085750,7.557,6,104,0.072663,0.019500,0.150370
2021-01-28,429,0.178076,2694.3217,91055,0.042939,590.962,0.862911,0.094149,1407.886,6689,17793,0.079126,0.033213,0.151426
2018-02-08,294,0.329200,8006.6888,33872,0.026156,405.459,0.863629,0.110207,2343.750,6442,23710,0.098851,0.017101,0.337692
2018-08-25,184,0.282227,1652.2869,14032,0.040158,218.235,0.852098,0.107739,590.524,1713,5978,0.098783,0.036506,0.276395
2019-04-17,155,0.352056,1588.3726,9719,0.015516,43.230,0.883729,0.100761,489.994,827,4839,0.101259,0.008934,0.328244
2017-12-16,255,0.260017,6659.2862,23598,0.032741,235.530,0.868867,0.098357,1901.054,2550,13815,0.137608,0.017049,0.482033
2020-01-16,125,0.388348,2204.5231,8833,0.036072,148.364,0.840712,0.123200,653.781,3626,3745,0.174574,0.039617,0.588658
2017-05-21,91,0.176452,1410.8219,4175,0.010879,23.817,0.905604,0.083549,651.963,151,5101,0.127811,0.004669,0.276578
2018-09-26,192,0.364990,2620.1859,11627,0.024177,86.259,0.872755,0.103089,625.814,1518,6093,0.102710,0.014157,0.430032
2016-04-20,9,0.084711,2.4481,255,0.038889,12.600,0.867889,0.093222,17.509,15,255,0.068663,0.049412,0.009600

In [19]:
rolling_avg_col = ['count', 'replies_count', 'retweets_count', 'likes_count', 'compound_weighted', 'pos_weighted', 'neg_weighted']

In [20]:
for col in rolling_avg_col:
    bitcoin_pivot[f"{col}_avg7"] = bitcoin_pivot[col].rolling(7).mean()
    bitcoin_pivot[f'{col}_daily_diff'] = bitcoin_pivot[col] - bitcoin_pivot[col].shift(1)
    bitcoin_pivot[f'{col}_weekly_diff'] = bitcoin_pivot[col] - bitcoin_pivot[f"{col}_avg7"]

In [21]:
bitcoin_pivot.head(10)

,count,compound,compound_times_retweets,likes_count,neg,neg_times_retweets,neu,pos,pos_times_retweets,replies_count,...,likes_count_weekly_diff,compound_weighted_avg7,compound_weighted_daily_diff,compound_weighted_weekly_diff,pos_weighted_avg7,pos_weighted_daily_diff,pos_weighted_weekly_diff,neg_weighted_avg7,neg_weighted_daily_diff,neg_weighted_weekly_diff
date,,,,,,,,,,,,,,,,,,,,,
2013-02-26,1,0.23820,26.2020,32,0.000,0.000,0.9020,0.0980,10.780,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2013-04-14,3,0.00000,0.0000,183,0.000,0.000,1.0000,0.0000,0.000,45,...,NaN,NaN,-0.238200,NaN,NaN,-0.09800,NaN,NaN,0.000000,NaN
2013-06-04,1,0.42150,27.8190,27,0.000,0.000,0.8230,0.1770,11.682,8,...,NaN,NaN,0.421500,NaN,NaN,0.17700,NaN,NaN,0.000000,NaN
2013-06-30,1,0.61660,123.3200,62,0.000,0.000,0.8080,0.1920,38.400,0,...,NaN,NaN,0.195100,NaN,NaN,0.01500,NaN,NaN,0.000000,NaN
2013-08-11,1,-0.07720,-9.6500,17,0.071,8.875,0.9290,0.0000,0.000,2,...,NaN,NaN,-0.693800,NaN,NaN,-0.19200,NaN,NaN,0.071000,NaN
2013-10-09,1,0.00000,0.0000,23,0.000,0.000,1.0000,0.0000,0.000,6,...,NaN,NaN,0.077200,NaN,NaN,0.00000,NaN,NaN,-0.071000,NaN
2013-10-18,1,0.67920,34.6392,30,0.000,0.000,0.7080,0.2920,14.892,2,...,-23.428571,0.268329,0.679200,0.410871,0.108429,0.29200,0.183571,0.010143,0.000000,-0.010143
2013-11-12,1,0.00000,0.0000,20,0.000,0.000,1.0000,0.0000,0.000,3,...,-31.714286,0.234300,-0.679200,-0.234300,0.094429,-0.29200,-0.094429,0.010143,0.000000,-0.010143
2013-11-24,2,-0.12825,35.5430,101,0.100,6.200,0.8295,0.0705,34.686,24,...,61.000000,0.252631,0.128314,-0.124317,0.112317,0.12522,0.012903,0.013340,0.022383,0.009042
2014-01-02,2,0.00000,0.0000,88,0.000,0.000,1.0000,0.0000,0.000,24,...,39.285714,0.192416,-0.128314,-0.192416,0.087031,-0.12522,-0.087031,0.013340,-0.022383,-0.013340

In [23]:
bitcoin_pivot.to_csv("../data/bitcoin_daily_tweets.csv")