In [11]:
import pandas as pd
import os
import numpy as np

In [12]:
dogecoin = pd.read_csv("../data/doge_daily.tsv", sep='\t')

In [13]:
dogecoin.head()

           Date    Open    High     Low  Close*  Adj Close**          Volume
0  Apr 15, 2021  0.1212  0.1873  0.1207  0.1822       0.1822  17,916,620,386
1  Apr 14, 2021  0.0943  0.1425  0.0925  0.1215       0.1215  20,977,679,327
2  Apr 13, 2021  0.0707  0.0952  0.0707  0.0934       0.0934   7,176,815,089
3  Apr 12, 2021  0.0745  0.0750  0.0689  0.0708       0.0708   2,687,720,380
4  Apr 11, 2021  0.0637  0.0792  0.0632  0.0746       0.0746   6,646,627,317

In [14]:
dogecoin['Date'] = pd.to_datetime(dogecoin['Date'])

In [19]:
dogecoin = dogecoin.set_index('Date').sort_index().reset_index()

In [20]:
dogecoin.head()

        Date    Open    High     Low  Close*  Adj Close**     Volume
0 2014-09-17  0.0003  0.0003  0.0003  0.0003       0.0003  1,463,600
1 2014-09-18  0.0003  0.0003  0.0003  0.0003       0.0003  2,215,910
2 2014-09-19  0.0003  0.0003  0.0003  0.0003       0.0003    883,563
3 2014-09-20  0.0003  0.0003  0.0003  0.0003       0.0003    993,004
4 2014-09-21  0.0003  0.0003  0.0003  0.0003       0.0003    539,140

In [29]:
dogecoin = dogecoin.rename(columns={'Close*' : 'Close'})

In [30]:
dogecoin['Daily_Change'] = dogecoin['Close'] - dogecoin['Open']
dogecoin['Daily_Change_Ind'] = np.where(dogecoin['Daily_Change'] > 0, 1, 0)

In [31]:
dogecoin.head()

,Date,Open,High,Low,Close,Adj Close**,Volume,Daily_Change,Daily_Change_Ind
0,"Apr 15, 2021",0.1212,0.1873,0.1207,0.1822,0.1822,"17,916,620,386",0.0610,1
1,"Apr 14, 2021",0.0943,0.1425,0.0925,0.1215,0.1215,"20,977,679,327",0.0272,1
2,"Apr 13, 2021",0.0707,0.0952,0.0707,0.0934,0.0934,"7,176,815,089",0.0227,1
3,"Apr 12, 2021",0.0745,0.0750,0.0689,0.0708,0.0708,"2,687,720,380",-0.0037,0
4,"Apr 11, 2021",0.0637,0.0792,0.0632,0.0746,0.0746,"6,646,627,317",0.0109,1

In [33]:
def expo_moving_average(df, period):
    '''
    Calculate the exponential moving average.
    
    Input:
        df: a pandas dataframe
        period (int): time period
    Returns:
        rv: a pd series of exponential moving averages
    '''
    col_name = f'EMA_{period}' 
    rv = pd.Series([None] * df.shape[0])
    weight_0 = 2 / (period + 1) 
    weight_1 = 1 - weight_0
    for row in df.itertuples():
        if row.Index < period - 1:
            continue
        elif row.Index == period - 1:
            simple_average = df.loc[:period - 1, 'Close'].sum() / period
            #df.loc[row.Index, col_name] = simple_average
            rv[row.Index] = simple_average
        else:
            #ema = row.Close * weight_0 + df.loc[row.Index - 1, col_name] * weight_1
            ema = row.Close * weight_0 + rv[row.Index - 1] * weight_1
            #df.loc[row.Index, col_name] = ema
            rv[row.Index] = ema
    return rv

In [34]:
def moving_average_convergence_divergence(df):
    '''
    Find the moving average convergence divergence, which is equal to the
    difference between the 12-period exponential moving average and
    26-period exponential moving average.
    
    Modifies the dataframe in place.
    
    Input:
        df: a pd dataframe
    '''
    col_name = 'MACD'
    ema_12 = expo_moving_average(dogecoin, 12)
    ema_26 = expo_moving_average(dogecoin, 26)
    df['MACD'] = ema_12 - ema_26

In [35]:
moving_average_convergence_divergence(dogecoin)

In [36]:
def proc(df, period):
    '''
    Calculate the price rate of change.
    
    Input:
        df: a pandas dataframe
        period (int): time period
    '''
    
    col_name = f'PROC_{period}'
    df[col_name] = None
    for row in df.itertuples():
        if row.Index < period:
            continue
        prev_idx = row.Index - period
        df.loc[row.Index, col_name] = (df.loc[row.Index, 'Close'] - df.loc[prev_idx, 'Close']) / df.loc[prev_idx, 'Close']

In [37]:
proc(dogecoin, 3)
proc(dogecoin, 5)
proc(dogecoin, 10)

In [40]:
def williams_percentage_range(df):
    '''
    Find the Williams Percentage Range. Modifies the df in place. 
    
    Input:
        df: a pd dataframe
    '''
    col_name = 'wpr'
    df[col_name] = None
    for row in df.itertuples():
        if row.Index < 14:
            continue
        max_14 = df.loc[row.Index - 14:row.Index - 1, 'Close'].max()
        min_14 = df.loc[row.Index - 14:row.Index - 1, 'Close'].min()
        try:
            wpr = (max_14 - row.Close) / (max_14 - min_14) * -100
        except:
            wpr = 0
        df.loc[row.Index, col_name] = wpr

In [41]:
williams_percentage_range(dogecoin)

In [45]:
def stochastic_oscillator(df):
    '''
    Find the stochastic oscillator. Modifies the df in place.
    '''
    col_name = 'sto_os'
    df[col_name] = None
    for row in df.itertuples():
        if row.Index < 14:
            continue
        max_14 = df.loc[row.Index - 14:row.Index - 1, 'Close'].max()
        min_14 = df.loc[row.Index - 14:row.Index - 1, 'Close'].min()
        try:
            so = (row.Close - min_14) / (max_14 - min_14) * 100
        except:
            so = 0
        df.loc[row.Index, col_name] = so

In [46]:
stochastic_oscillator(dogecoin)

In [47]:
dogecoin.head(30)

,Date,Open,High,Low,Close,Adj Close**,Volume,Daily_Change,Daily_Change_Ind,MACD,PROC_3,PROC_5,PROC_10,wpr,sto_os
0,"Apr 15, 2021",0.1212,0.1873,0.1207,0.1822,0.1822,"17,916,620,386",0.0610,1,NaN,None,None,None,None,None
1,"Apr 14, 2021",0.0943,0.1425,0.0925,0.1215,0.1215,"20,977,679,327",0.0272,1,NaN,None,None,None,None,None
2,"Apr 13, 2021",0.0707,0.0952,0.0707,0.0934,0.0934,"7,176,815,089",0.0227,1,NaN,None,None,None,None,None
3,"Apr 12, 2021",0.0745,0.0750,0.0689,0.0708,0.0708,"2,687,720,380",-0.0037,0,NaN,-0.611416,None,None,None,None
4,"Apr 11, 2021",0.0637,0.0792,0.0632,0.0746,0.0746,"6,646,627,317",0.0109,1,NaN,-0.386008,None,None,None,None
5,"Apr 10, 2021",0.0616,0.0651,0.0608,0.0638,0.0638,"1,369,793,117",0.0022,1,NaN,-0.316916,-0.649835,None,None,None
6,"Apr 09, 2021",0.0615,0.0639,0.0603,0.0617,0.0617,"1,060,465,773",0.0002,1,NaN,-0.128531,-0.492181,None,None,None
7,"Apr 08, 2021",0.0590,0.0617,0.0588,0.0615,0.0615,"1,055,257,541",0.0025,1,NaN,-0.175603,-0.341542,None,None,None
8,"Apr 07, 2021",0.0645,0.0673,0.0576,0.0590,0.0590,"2,857,060,848",-0.0055,0,NaN,-0.075235,-0.166667,None,None,None
9,"Apr 06, 2021",0.0597,0.0650,0.0581,0.0645,0.0645,"2,608,613,911",0.0048,1,NaN,0.045381,-0.135389,None,None,None
10,"Apr 05, 2021",0.0574,0.0602,0.0564,0.0597,0.0597,"1,513,832,720",0.0023,1,NaN,-0.029268,-0.064263,-0.672338,None,None
11,"Apr 04, 2021",0.0558,0.0581,0.0553,0.0574,0.0574,"938,035,097",0.0016,1,NaN,-0.027119,-0.069692,-0.527572,None,None
12,"Apr 03, 2021",0.0577,0.0595,0.0558,0.0558,0.0558,"1,136,931,402",-0.0019,0,NaN,-0.134884,-0.092683,-0.40257,None,None
13,"Apr 02, 2021",0.0620,0.0622,0.0573,0.0577,0.0577,"2,166,925,111",-0.0043,0,NaN,-0.033501,-0.022034,-0.185028,None,None
14,"Apr 01, 2021",0.0537,0.0701,0.0536,0.0620,0.0620,"5,816,046,821",0.0083,1,NaN,0.080139,-0.03876,-0.168901,-95.094937,4.905063
15,"Mar 31, 2021",0.0539,0.0545,0.0523,0.0537,0.0537,"653,389,282",-0.0002,0,NaN,-0.037634,-0.100503,-0.158307,-103.196347,-3.196347
16,"Mar 30, 2021",0.0541,0.0554,0.0537,0.0539,0.0539,"728,906,171",-0.0002,0,NaN,-0.065858,-0.060976,-0.126418,-99.496222,0.503778
17,"Mar 29, 2021",0.0537,0.0547,0.0532,0.0541,0.0541,"537,919,139",0.0004,1,NaN,-0.127419,-0.030466,-0.120325,-98.086124,1.913876
18,"Mar 28, 2021",0.0544,0.0548,0.0530,0.0537,0.0537,"460,472,974",-0.0007,0,NaN,0.0,-0.069324,-0.089831,-100.0,0.0
19,"Mar 27, 2021",0.0539,0.0554,0.0535,0.0544,0.0544,"753,844,053",0.0005,1,NaN,0.009276,-0.122581,-0.156589,-93.518519,6.481481
20,"Mar 26, 2021",0.0514,0.0540,0.0513,0.0540,0.0540,"776,280,028",0.0026,1,NaN,-0.001848,0.005587,-0.095477,-97.222222,2.777778
21,"Mar 25, 2021",0.0517,0.0524,0.0497,0.0514,0.0514,"1,084,214,115",-0.0003,0,NaN,-0.042831,-0.046382,-0.10453,-121.296296,-21.296296
22,"Mar 24, 2021",0.0535,0.0565,0.0512,0.0517,0.0517,"934,537,959",-0.0018,0,NaN,-0.049632,-0.044362,-0.073477,-97.709924,2.290076
23,"Mar 23, 2021",0.0549,0.0561,0.0529,0.0536,0.0536,"1,040,781,776",-0.0013,0,NaN,-0.007407,-0.001862,-0.071057,-83.206107,16.793893
24,"Mar 22, 2021",0.0573,0.0577,0.0549,0.0550,0.0550,"696,918,564",-0.0023,0,NaN,0.070039,0.011029,-0.112903,-66.037736,33.962264
25,"Mar 21, 2021",0.0590,0.0595,0.0568,0.0572,0.0572,"759,592,995",-0.0018,0,-0.009806,0.106383,0.059259,0.065177,-45.283019,54.716981
26,"Mar 20, 2021",0.0583,0.0606,0.0581,0.0590,0.0590,"1,012,934,487",0.0007,1,-0.008924,0.100746,0.14786,0.09462,-28.301887,71.698113
27,"Mar 19, 2021",0.0574,0.0597,0.0566,0.0583,0.0583,"964,747,809",0.0009,1,-0.008187,0.06,0.12766,0.077634,-34.90566,65.09434
28,"Mar 18, 2021",0.0576,0.0588,0.0541,0.0574,0.0574,"909,777,444",-0.0002,0,-0.007588,0.003497,0.070896,0.068901,-43.396226,56.603774
29,"Mar 17, 2021",0.0586,0.0589,0.0565,0.0577,0.0577,"861,926,642",-0.0009,0,-0.007009,-0.022034,0.049091,0.060662,-17.105263,82.894737

In [49]:
dogecoin.to_csv('../data/doge_daily_modified.csv')