In [1]:
import pandas as pd
import os
import numpy as np

In [2]:
os.chdir('/Users/ianjeong/Desktop/ML/great_cappsby/crypto-currency/data')

FileNotFoundError: [Errno 2] No such file or directory: '/Users/ianjeong/Desktop/ML/great_cappsby/crypto-currency/data'

In [2]:
bitcoin = pd.read_csv('../data/bitcoin_daily.csv')

In [6]:
bitcoin['Daily_Change_Ind'] = bitcoin['Daily_Change'].apply(lambda x: indicator(x))

In [3]:
def indicator(x):
    if x == None:
        return None
    elif x > 0:
        return 1
    else:
        return 0

In [4]:
def daily_change(df):
    df['Daily_Change'] = None
    for row in df.itertuples():
        if row.Index == 0:
            continue
        df.loc[row.Index, 'Daily_Change'] = row.Close - df.loc[row.Index - 1, 'Close']

In [5]:
daily_change(bitcoin)

In [7]:
bitcoin.head()

,Date,Open,High,Low,Close,Adj Close,Volume,Daily_Change,Daily_Change_Ind
0,2014-09-17,465.864014,468.174011,452.421997,457.334015,457.334015,21056800,None,NaN
1,2014-09-18,456.859985,456.859985,413.104004,424.440002,424.440002,34483200,-32.894013,0.0
2,2014-09-19,424.102997,427.834991,384.532013,394.795990,394.795990,37919700,-29.644012,0.0
3,2014-09-20,394.673004,423.295990,389.882996,408.903992,408.903992,36863600,14.108002,1.0
4,2014-09-21,408.084991,412.425995,393.181000,398.821014,398.821014,26580100,-10.082978,0.0

In [8]:
def expo_moving_average(df, period):
    '''
    Calculate the exponential moving average.
    
    Input:
        df: a pandas dataframe
        period (int): time period
    Returns:
        rv: a pd series of exponential moving averages
    '''
    col_name = f'EMA_{period}' 
    rv = pd.Series([None] * df.shape[0])
    weight_0 = 2 / (period + 1) 
    weight_1 = 1 - weight_0
    for row in df.itertuples():
        if row.Index < period - 1:
            continue
        elif row.Index == period - 1:
            simple_average = df.loc[:period - 1, 'Close'].sum() / period
            #df.loc[row.Index, col_name] = simple_average
            rv[row.Index] = simple_average
        else:
            #ema = row.Close * weight_0 + df.loc[row.Index - 1, col_name] * weight_1
            ema = row.Close * weight_0 + rv[row.Index - 1] * weight_1
            #df.loc[row.Index, col_name] = ema
            rv[row.Index] = ema
    return rv

In [9]:
def moving_average_convergence_divergence(df):
    '''
    Find the moving average convergence divergence, which is equal to the
    difference between the 12-period exponential moving average and
    26-period exponential moving average.
    
    Modifies the dataframe in place.
    
    Input:
        df: a pd dataframe
    '''
    col_name = 'MACD'
    ema_12 = expo_moving_average(bitcoin, 12)
    ema_26 = expo_moving_average(bitcoin, 26)
    df['MACD'] = ema_12 - ema_26

In [10]:
moving_average_convergence_divergence(bitcoin)

In [11]:
def proc(df, period):
    '''
    Calculate the price rate of change.
    
    Input:
        df: a pandas dataframe
        period (int): time period
    '''
    
    col_name = f'PROC_{period}'
    df[col_name] = None
    for row in df.itertuples():
        if row.Index < period:
            continue
        prev_idx = row.Index - period
        df.loc[row.Index, col_name] = (df.loc[row.Index, 'Close'] - df.loc[prev_idx, 'Close']) / df.loc[prev_idx, 'Close']

In [12]:
proc(bitcoin, 3)
proc(bitcoin, 5)
proc(bitcoin, 10)

In [13]:
def williams_percentage_range(df):
    '''
    Find the Williams Percentage Range. Modifies the df in place. 
    
    Input:
        df: a pd dataframe
    '''
    col_name = 'wpr'
    df[col_name] = None
    for row in df.itertuples():
        if row.Index < 14:
            continue
        max_14 = df.loc[row.Index - 14:row.Index - 1, 'Close'].max()
        min_14 = df.loc[row.Index - 14:row.Index - 1, 'Close'].min()
        wpr = (max_14 - row.Close) / (max_14 - min_14) * -100
        df.loc[row.Index, col_name] = wpr

In [14]:
williams_percentage_range(bitcoin)

In [15]:
def stochastic_oscillator(df):
    '''
    Find the stochastic oscillator. Modifies the df in place.
    '''
    col_name = 'sto_os'
    df[col_name] = None
    for row in df.itertuples():
        if row.Index < 14:
            continue
        max_14 = df.loc[row.Index - 14:row.Index - 1, 'Close'].max()
        min_14 = df.loc[row.Index - 14:row.Index - 1, 'Close'].min()
        so = (row.Close - min_14) / (max_14 - min_14) * 100
        df.loc[row.Index, col_name] = so

In [16]:
stochastic_oscillator(bitcoin)

In [17]:
bitcoin.head(30)

,Date,Open,High,Low,Close,Adj Close,Volume,Daily_Change,Daily_Change_Ind,MACD,PROC_3,PROC_5,PROC_10,wpr,sto_os
0,2014-09-17,465.864014,468.174011,452.421997,457.334015,457.334015,21056800,None,NaN,NaN,None,None,None,None,None
1,2014-09-18,456.859985,456.859985,413.104004,424.440002,424.440002,34483200,-32.894013,0.0,NaN,None,None,None,None,None
2,2014-09-19,424.102997,427.834991,384.532013,394.795990,394.795990,37919700,-29.644012,0.0,NaN,None,None,None,None,None
3,2014-09-20,394.673004,423.295990,389.882996,408.903992,408.903992,36863600,14.108002,1.0,NaN,-0.105896,None,None,None,None
4,2014-09-21,408.084991,412.425995,393.181000,398.821014,398.821014,26580100,-10.082978,0.0,NaN,-0.06036,None,None,None,None
5,2014-09-22,399.100006,406.915985,397.130005,402.152008,402.152008,24127600,3.330994,1.0,NaN,0.018632,-0.12066,None,None,None
6,2014-09-23,402.092010,441.557007,396.196991,435.790985,435.790985,45099500,33.638977,1.0,NaN,0.065754,0.026743,None,None,None
7,2014-09-24,435.751007,436.112000,421.131989,423.204987,423.204987,30627700,-12.585998,0.0,NaN,0.06114,0.071959,None,None,None
8,2014-09-25,423.156006,423.519989,409.467987,411.574005,411.574005,26814400,-11.630982,0.0,NaN,0.023429,0.00653,None,None,None
9,2014-09-26,411.428986,414.937988,400.009003,404.424988,404.424988,21460800,-7.149017,0.0,NaN,-0.071975,0.014051,None,None,None
10,2014-09-27,403.556000,406.622986,397.372009,399.519989,399.519989,15029300,-4.904999,0.0,NaN,-0.055966,-0.006545,-0.126415,None,None
11,2014-09-28,399.471008,401.016998,374.332001,377.181000,377.181000,23613300,-22.338989,0.0,NaN,-0.083565,-0.134491,-0.111344,None,None
12,2014-09-29,376.928009,385.210999,372.239990,375.467010,375.467010,32497700,-1.71399,0.0,NaN,-0.071603,-0.112801,-0.048959,None,None
13,2014-09-30,376.088013,390.976990,373.442993,386.944000,386.944000,34707300,11.47699,1.0,NaN,-0.031478,-0.059843,-0.053705,None,None
14,2014-10-01,387.427002,391.378998,380.779999,383.614990,383.614990,26229400,-3.32901,0.0,NaN,0.017058,-0.051456,-0.038127,-90.047297,9.952703
15,2014-10-02,383.988007,385.497009,372.946014,375.071991,375.071991,21777700,-8.542999,0.0,NaN,-0.001052,-0.061193,-0.067338,-100.654829,-0.654829
16,2014-10-03,375.181000,377.695007,357.859009,359.511993,359.511993,30901200,-15.559998,0.0,NaN,-0.070894,-0.046845,-0.175036,-125.626245,-25.626245
17,2014-10-04,359.891998,364.487000,325.885986,328.865997,328.865997,47236500,-30.645996,0.0,NaN,-0.142719,-0.124115,-0.222916,-140.176194,-40.176194
18,2014-10-05,328.915985,341.800995,289.295990,320.510010,320.510010,83308096,-8.355987,0.0,NaN,-0.145471,-0.171689,-0.221258,-107.814812,-7.814812
19,2014-10-06,320.389008,345.134003,302.559998,330.079010,330.079010,79011800,9.569,1.0,NaN,-0.081869,-0.139557,-0.183831,-91.699411,8.300589
20,2014-10-07,330.584015,339.247009,320.481995,336.187012,336.187012,49199900,6.108002,1.0,NaN,0.022261,-0.103673,-0.158523,-86.40105,13.59895
21,2014-10-08,336.115997,354.364014,327.187988,352.940002,352.940002,54736300,16.75299,1.0,NaN,0.101182,-0.01828,-0.064269,-68.421053,31.578947
22,2014-10-09,352.747986,382.726013,347.687012,365.026001,365.026001,83641104,12.085999,1.0,NaN,0.105875,0.109954,-0.027808,-51.115706,48.884294
23,2014-10-10,364.687012,375.066986,352.963013,361.562012,361.562012,43665700,-3.463989,0.0,NaN,0.075479,0.128083,-0.065596,-51.079053,48.920947
24,2014-10-11,361.362000,367.191010,355.950989,362.299011,362.299011,13345200,0.736999,1.0,NaN,0.026517,0.097613,-0.055566,-47.109211,52.890789
25,2014-10-12,362.605988,379.433014,356.144012,378.549011,378.549011,17552800,16.25,1.0,-19.267392,0.037047,0.126007,0.00927,-12.636587,87.363413
26,2014-10-13,377.920990,397.226013,368.897003,390.414001,390.414001,35221400,11.86499,1.0,-15.70184,0.079798,0.106177,0.085955,5.223231,105.223231
27,2014-10-14,391.691986,411.697998,391.324005,400.869995,400.869995,38491500,10.455994,1.0,-11.895282,0.106462,0.098196,0.218946,14.95765,114.95765
28,2014-10-15,400.954987,402.226990,388.765991,394.773010,394.773010,25267100,-6.096985,0.0,-9.263747,0.042858,0.091854,0.231703,-7.587091,92.412909
29,2014-10-16,394.518005,398.807007,373.070007,382.556000,382.556000,26990000,-12.21701,0.0,-8.071009,-0.020127,0.055912,0.158983,-22.789943,77.210057

In [18]:
bitcoin.to_csv('bitcoin_daily_modified.csv')

In [19]:
gold = pd.read_csv('../data/gold_modified.csv')
sp500 = pd.read_csv('../data/sp_500.csv')

In [20]:
sp500.head()

        Date  Close/Last     Open     High      Low  sp500_label
0  5/13/2022     4023.89  3963.90  4038.88  3963.90            1
1  5/12/2022     3930.08  3903.95  3964.80  3858.87            1
2  5/11/2022     3935.18  3990.08  4049.09  3928.82            0
3  5/10/2022     4001.05  4035.18  4068.82  3958.17            0
4   5/9/2022     3991.24  4081.27  4081.27  3975.48            1

In [21]:
tweets = pd.read_csv('../data/bitcoin_daily_tweets.csv')
google = pd.read_csv('../data/bitcoin_google_trends.csv')

In [22]:
gold = gold.rename(columns = {'label':'gold_label', 'Close/Last':'gold_close'})
sp500 = sp500.rename(columns = {'Close/Last':'sp500_close'})
gold = gold.loc[:, ['Date', 'gold_close', 'gold_label']]
sp500 = sp500.loc[:, ['Date', 'sp500_close', 'sp500_label']]

In [23]:
tweets = tweets.rename(columns={'date':'Date'})
google = google.rename(columns={'date':'Date', 'bitcoin':'goog_trend_score'})

In [24]:
# modifying date format
gold['Date'] = pd.to_datetime(gold['Date'])
gold['Date'] = gold['Date'].dt.strftime('%Y-%m-%d')
sp500['Date'] = pd.to_datetime(sp500['Date'])
sp500['Date'] = sp500['Date'].dt.strftime('%Y-%m-%d')

In [25]:
gold_merge = bitcoin.dropna().merge(gold, on = 'Date')
sp500_merge = gold_merge.merge(sp500, on = 'Date')
g_merge = sp500_merge.merge(google, on = 'Date')
altogether = g_merge.merge(tweets, on = 'Date')

In [26]:
altogether

,Date,Open,High,Low,Close,Adj Close,Volume,Daily_Change,Daily_Change_Ind,MACD,...,likes_count_weekly_diff,compound_weighted_avg7,compound_weighted_daily_diff,compound_weighted_weekly_diff,pos_weighted_avg7,pos_weighted_daily_diff,pos_weighted_weekly_diff,neg_weighted_avg7,neg_weighted_daily_diff,neg_weighted_weekly_diff
0,2014-10-13,377.920990,397.226013,368.897003,390.414001,390.414001,35221400,11.86499,1.0,-15.70184,...,-10.857143,0.155527,0.475045,-0.062282,0.113330,-0.031695,-0.076025,0.025495,-0.130000,-0.025495
1,2014-10-14,391.691986,411.697998,391.324005,400.869995,400.869995,38491500,10.455994,1.0,-11.895282,...,20.571429,0.117707,-0.084223,-0.108685,0.111784,0.095745,0.021266,0.037595,0.084700,0.047105
2,2014-10-15,400.954987,402.226990,388.765991,394.773010,394.773010,25267100,-6.096985,0.0,-9.263747,...,29.714286,0.120353,0.204298,0.092966,0.118112,-0.032954,-0.018016,0.042944,-0.047263,-0.005506
3,2014-10-17,382.756012,385.477997,375.389008,383.757996,383.757996,13600700,1.201996,1.0,-6.948665,...,-33.285714,0.195819,0.314941,0.332442,0.146115,0.095926,0.049906,0.042944,-0.037437,-0.042944
4,2014-10-20,389.230988,390.084015,378.252014,382.845001,382.845001,16419000,-6.700989,0.0,-3.828066,...,40.428571,0.211852,-0.194504,-0.169295,0.110018,-0.102292,-0.090338,0.023115,-0.039667,-0.023115
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1573,2021-02-04,37475.105469,38592.175781,36317.500000,36926.066406,36926.066406,68838074392,-546.023438,0.0,872.62153,...,-21291.571429,0.352018,-0.110210,-0.032645,0.120115,-0.067500,-0.034914,0.022393,-0.005790,-0.005062
1574,2021-02-05,36931.546875,38225.906250,36658.761719,38144.308594,38144.308594,58598066402,1218.242188,1.0,1079.249152,...,121844.714286,0.361516,-0.091800,-0.133943,0.125647,0.035003,-0.005443,0.025481,0.043169,0.035020
1575,2021-02-08,38886.828125,46203.929688,38076.324219,46196.464844,46196.464844,101467222687,7293.023438,1.0,2139.116881,...,264041.142857,0.266808,0.178233,-0.026590,0.113628,0.008827,-0.020424,0.040177,-0.025353,-0.008243
1576,2021-02-09,46184.992188,48003.722656,45166.960938,46481.105469,46481.105469,91809846886,284.640625,1.0,2668.203824,...,1787.285714,0.236172,0.132733,0.136780,0.105731,0.036097,0.023570,0.042145,-0.008810,-0.019021
1577,2021-02-10,46469.761719,47145.566406,43881.152344,44918.183594,44918.183594,87301089896,-1562.921875,0.0,2927.646221,...,-47593.000000,0.221320,-0.047328,0.104303,0.100082,-0.016145,0.013074,0.042822,0.004739,-0.014960

In [27]:
altogether.to_csv('../data/merged_datasets.csv')